<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div>
                {{indice+1}} - {{ElemEmpleado.nombre}}  {{ElemEmpleado.apellido}} {{ElemEmpleado.cargo}} {{ElemEmpleado.salario}}
                <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}" style="color:blue">
                    Actualizar
                </a>
                &nbsp;&nbsp;
                <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}" style="color:red">
                    Borrar
                </a>
            </div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let caracteristica of caracteristicas">{{caracteristica}}</li>
            </ul>
            <app-caracteristicas-empleado-c (caracteristicasEmpleado)="anadirCaracteristica($event)"></app-caracteristicas-empleado-c>
        </div>
    </div>
 </div>
